---
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button.astro';
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
---

<script>
	const textContainers = document.querySelectorAll(".word"),
		  maxScale = 1.4,
		  defaultScale = 1,
		  neighborScale = 1.2;

	textContainers.forEach((textContainer) => {
		const spans = textContainer.querySelectorAll("span");

		textContainer.addEventListener("mousemove", (e) => {
			const target = e.target as HTMLSpanElement;

			if (target instanceof HTMLSpanElement) {
				const index = Array.from(spans).indexOf(target);

				spans.forEach((span, i) => {
					let scale = defaultScale;

					if (i === index) {
						scale = maxScale;
					} else if (i === index - 1 || i === index + 1) {
						scale = neighborScale;
					}
					span.style.transform = `scaleY(${scale})`;
				});
			}
		});
		textContainer.addEventListener("mouseleave", () => {
			spans.forEach((span) => {
				span.style.transform = `scaleY(${defaultScale})`;
			});
		});
	});
</script>

<Layout title="TW Productions. | Frontend Developer">

	<section id="home">
		<div class="container">
			<div class="word">
				<span>W</span>
				<span>o</span>
				<span>l</span>
				<span>v</span>
				<span>e</span>
				<span>n</span>
			</div>
			<div class="word filled">
				<span>T</span>
				<span>y</span>
				<span>g</span>
				<span>o</span>
			</div>
			<div class="word">
				<span>W</span>
				<span>o</span>
				<span>l</span>
				<span>v</span>
				<span>e</span>
				<span>n</span>
			</div>
			<div class="word">
				<span>W</span>
				<span>o</span>
				<span>l</span>
				<span>v</span>
				<span>e</span>
				<span>n</span>
			</div>
		</div>
		<div class="container bottom">
			<div class="word">
				<span>T</span>
				<span>y</span>
				<span>g</span>
				<span>o</span>
			</div>
			<div class="word">
				<span>T</span>
				<span>y</span>
				<span>g</span>
				<span>o</span>
			</div>
			<div class="word filled">
				<span>W</span>
				<span>o</span>
				<span>l</span>
				<span>v</span>
				<span>e</span>
				<span>n</span>
			</div>
			<div class="word">
				<span>T</span>
				<span>y</span>
				<span>g</span>
				<span>o</span>
			</div>
			<div class="word">
				<span>T</span>
				<span>y</span>
				<span>g</span>
				<span>o</span>
			</div>
		</div>
		<img src="/assets/images/portrait.png" alt="Portrait of Tygo Wolven">
	</section>

	<Navigation />

	<section id="about">
		<h2>About me</h2>
		<p>
			Hi! My name is <strong>Tygo Wolven</strong>, and I'm 20 years old. I am currently studying to 
			become a frontend developer at the <strong>Amsterdam University of Applied Sciences.</strong> 
			Right now I am in the second year of a study called <strong>Frontend Design & Development,</strong> 
			where we are learning a lot about combining <strong>HTML5, CSS3 and JS</strong> with different types 
			of <strong>frameworks with dynamic data.</strong>
		</p>

		<div class="backdrop"></div>
	</section>

	<section id="work">
		<h2>My Work</h2>

		<article class="right">
			<a href="https://github.com/TygoWolven/Sprint7-Squadpage">
				<div>
					<h3>Squadpage</h3>
					<strong>NodeJS, EJS, Express</strong>
				</div>
				<img class="bright" src="/assets/images/squadpage.png" alt="">
			</a>
		</article>
		<article class="left">
			<a href="https://tygowolven-learning-blog.netlify.app/">
				<img class="align-top" src="/assets/images/learningblog.png" alt="">
				<div>
					<h3>Learning Blog</h3>
					<strong>Sveltekit, Markdown</strong>
				</div>
			</a>
		</article>
		<article class="left">
			<a href="https://github.com/TygoWolven/Sprint12-Proof-of-Concept">
				<img src="/assets/images/freskdigital.png" alt="">
				<div>
					<h3>Fresk Digital</h3>
					<strong>NodeJS, EJS, Express</strong>
				</div>
			</a>
		</article>
		<article class="right">
			<a href="https://github.com/TygoWolven/Sprint6-Responsive-Interactive-Website">
				<div>
					<h3>News Radio</h3>
					<strong>HTML, CSS, JS</strong>
				</div>
				<img class="align-top" src="/assets/images/bnr.png" alt="">
			</a>
		</article>
		<article class="right">
			<a href="https://github.com/TygoWolven/Sprint10-Enhanced-Website">
				<div>
					<h3>De Hallen</h3>
					<strong>NodeJS, EJS, Express</strong>
				</div>
				<img src="/assets/images/dehallen.png" alt="">
			</a>
		</article>

		<Button 
			href="https://github.com/TygoWolven?tab=repositories"
			title="See all my work on Github"
		/>
	</section>

	<section id="contact">
		<h2>Contact</h2>
		<p>Did you <strong>like</strong> what you see? Feel free to <strong>contact</strong> me!</p>
		<form action="https://api.web3forms.com/submit" method="POST" id="form">
			<input type="hidden" name="access_key" value="ae56565d-4fb4-48da-b62c-fcc869e651a5">
		
			<input type="text" name="name" placeholder="Full Name" required>
			<input type="email" name="email" placeholder="Email" required>
			<textarea name="message" cols="30" rows="5" placeholder="Your Message" required></textarea>
			<button type="submit">
				Send <i class='bx bx-paper-plane'></i>
			</button>
			<input type="hidden" name="redirect" value="https://web3forms.com/success">
		</form>	

		<div class="backdrop"></div>
	</section>

	<Footer />
</Layout>

<style>
	#home,
	#about, 
	#contact {
		height: 100vh;
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
	}

	#home {
		height: calc(100vh - 4.5rem);

		.container {
			display: flex;
			margin-left: 12%;
		} .bottom span {
			transform-origin: top !important;
		} .word {
			display: flex;
			margin: 0 0.6%;
			line-height: 1;

			span {
				-webkit-text-stroke: 2px var(--secondary);
				font-size: max(11vw, 4.5rem);
				font-family: Antonio;
				font-weight: bold;
				color: transparent;
				transition: 150ms ease;
				transform-origin: bottom;
				text-transform: uppercase;
			}
		} .filled span {
			color: var(--white);
			-webkit-text-stroke: unset;
		}

		img {
			position: absolute;
			z-index: -100;
			aspect-ratio: 1;
			filter: grayscale(0.5);
			width: min(500px, 70vw);
		}
	}
	@media (max-width: 755px) {
		#home {
			height: calc(100vh - 13.5rem);
		}
	}

	#about {
		p {
			max-width: 64ch;
			text-align: justify;
			justify-self: center;
		}
	}

	#work {
		padding-top: 7rem;

		article {
			width: 80%;
			margin: 2rem 0;
			transition: 0.2s ease;

			a {
				display: flex;
				gap: 2rem;
			} a div {
				width: 70%;
				align-self: center;
				justify-content: center;
			}
		} article:nth-of-type(3),
		  article:nth-of-type(5) {
			justify-self: center;
		} article:nth-of-type(4) {
			justify-self: flex-end;
		} article.right div {
			text-align: right;
		} article.right:hover {
			transform: rotateX(-5deg) rotateY(10deg) rotateZ(1deg);
			transform-origin: right;
		} article.left:hover {
			transform: rotateX(5deg) rotateY(10deg) rotateZ(-1deg);
			transform-origin: left;
		}

		img {
			width: 100%;
			height: 200px; 
			object-fit: cover;
			filter: grayscale(0.5);
			background: var(--primary);
		} img.align-top {
			object-position: top;
		}
	}
	@media (max-width: 755px) {
		#work {
			article {
				width: 90vw;
				margin: 1rem 0;
				justify-self: center !important;

				a div {
					z-index: 50;
					position: absolute;
					align-self: flex-end;
					text-align: left !important;
					background: linear-gradient(
						transparent,
						var(--darkgrey)
					);
					padding: 1rem;
					width: 90vw;
				}
			} article:last-of-type {
				margin-bottom: 2rem;
			} article.left:hover {
				transform: rotateX(-5deg) rotateY(10deg) rotateZ(1deg);
				transform-origin: right;
			}

			img {
				filter: brightness(0.5) grayscale(0.5);
			} img.bright {
				filter: grayscale(0.5);
			}
		}
	}

	#contact {
		padding-top: 3rem;

		p {
			max-width: 21ch;
			text-align: center;
		}

		form {
			display: flex;
			flex-direction: column;
			margin: 2rem 0;

			input, textarea {
				padding: 1rem;
				color: var(--primary);
				font-family: Raleway;
				margin: 0.25rem 0;
			}
		}

		button {
			cursor: pointer;
			margin: 0.25rem 0;
        	transition: 0.25s ease;
			padding: 0.75rem 1.75rem;
        	background: var(--primary);
			border: 1px solid var(--secondary);
			align-self: flex-end;
		} button:hover {
			box-shadow: 0 0 50px var(--primary);

		}
	}

	.backdrop {
		width: 50vw;
		height: 100%;
		opacity: 0.25;
		z-index: -100;
		position: absolute;
		background: linear-gradient(
		to right,
		transparent 45%, 
		var(--primary) 45% 55%, 
		transparent 55%);
		background-size: 30px;
	} .backdrop::before,
	  .backdrop::after {
		position: absolute;
		content: "";
		width: 100%;
		height: 30%;
		background: linear-gradient(
			var(--darkgrey) 50%,
			transparent
		);
	} .backdrop::after {
		rotate: 180deg;
		bottom: 0;
	}
</style>