---
interface Props {
	href: string;
	title: string;
}

const { href, title } = Astro.props;
---

<a href={href}>
    <span>{title}</span>
</div>

<style>
    a {
        padding: 1rem 2rem;
        background: var(--primary);
        border: 1px solid var(--white);
        transition: 0.25s ease;
    }
    a:hover {
        box-shadow: 0 0 50px var(--secondary);
    }
</style>    


