---
interface Props {
	href: string;
	title: string;
}

const { href, title } = Astro.props;
---

<a href={href}>
    {title}
</div>

<style>
    a {
        margin-right: 5px;
        transition: 0.25s ease;
        padding: 0.75rem 1.75rem;
        background: var(--primary);
        border: 1px solid var(--secondary);
    } a:hover {
        box-shadow: 0 0 50px var(--primary);
    }
</style>    


