<footer>
    <p>Copyright © 2025 by <strong>TW Productions.</strong></p>
</footer>

<style>
    p {
        color: rgb(150, 150, 150);
        padding: 0 0 4rem 0;
        text-align: center;
    }
</style>