<footer>
    <ul>
        <li>
            <a href="https://github.com/TygoWolven" target="_blank">
                <i class='bx bxl-github'></i>
            </a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/tygo-wolven-091515241/" target="_blank">
                <i class='bx bxl-linkedin-square' ></i>
            </a>
        </li>
        <li>
            <a href="https://www.instagram.com/tygowolvenn_/" target="_blank">
                <i class='bx bxl-instagram-alt' ></i>            
            </a>
        </li>
    </ul>
    <p>Copyright © 2025 by <strong>TW Productions.</strong></p>
</footer>

<style>
    ul {
        gap: 1rem;
        display: flex;
        justify-self: center;
    }
    li a i {
        font-size: 1.5rem;
        color: var(--secondary);
        transition: 0.2s ease;
    } li a i:hover {
        box-shadow: 0 0 50px var(--primary);
    }
    p {
        color: rgb(150, 150, 150);
        padding: 0.5rem 0 5rem 0;
        text-align: center;
    }
</style>